.body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}



.minecraft-skin {
    left: calc(05% - 80px);
    top: calc(1%);
    position: absolute;
    z-index: 13;
    filter: drop-shadow(0px 0px 30px #262627);
  }
  

.bg2 {
    transform-origin: center center;
     background-image: linear-gradient(to right top, #6c22bd, #8b25bb, #a52bb9, #bc34b7, #d040b5, #e645a5, #f55195, #ff6188, #ff796e, #ff965b, #f5b255, #e1cd60);
     width: 2133px;
     height: 1088px;
     z-index: 1;
     filter: blur(2px);
     opacity: 0.69;
     position: absolute;
     left: 0px;
     top: 0px
}


.client-name-1 {
    left: 1550px;
    top: calc(-17%);
    position: absolute;
    z-index: 91;
    text-shadow: 10px 1px 0 rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.4px;
    font-size: 200px;
}

.client-name-2 {
    left: 1540px;
    top: calc(12%);
    position: absolute;
    z-index: 14;
    text-shadow: 5px 1px 0 rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 95px;
}

.what-is-this {
    left: 20px;
    top: 75px;
    position: absolute;
    z-index: 91;
    text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.4px;
    font-size: 36px;
}

.command-1 {
    left: 75px;
    top: 140px;
    position: absolute;
    z-index: 91;
    text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.4px;
    font-size: 27px;
}

.command-2 {
    left: 75px;
    top: 190px;
    position: absolute;
    z-index: 91;
    text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.4px;
    font-size: 27px;
}

.command-3 {
    left: 75px;
    top: 240px;
    position: absolute;
    z-index: 91;
    text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.4px;
    font-size: 27px;
}

.command-4 {
    left: 75px;
    top: 290px;
    position: absolute;
    z-index: 91;
    text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.4px;
    font-size: 27px;
}